Flask
flask_cors
langchain
langchain_chroma
langchain_community
langchain_core
langchain_huggingface
langchain_openai
langgraph
Markdown
PyYAML
typing_extensions
langchain-mcp-adapters
fastmcp
hydra-core
omegaconf